.p-button-outlined[data-v-5d519cf0]:not(:disabled):hover{background:#000;border-color:#000;color:#fff}.p-button-outlined[data-v-5d519cf0]{background:transparent;border-color:#000;color:#000}.p-breadcrumb[data-v-94ccc966]{padding:0}
