@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
}

@layer components {
  .bg-signup-mobile-logo {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22770%22%20height%3D%22770%22%20viewBox%3D%220%200%20770%20770%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201H769V769H1V1Z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M413.429%20486.06L357%20523.746L388.036%20415.418L413.429%20312.221L424.714%20211L515%20475.119L496.661%20559L459.277%20436.872L431.768%20458.1L415.238%20441.967L413.429%20486.06Z%22%20fill%3D%22%2310B981%22%2F%3E%3Cpath%20d%3D%22M415.238%20441.967L413.429%20486.06L357%20523.746L388.036%20415.418M415.238%20441.967L419.845%20329.667M415.238%20441.967L388.036%20415.418M415.238%20441.967L431.768%20458.1L459.277%20436.872M419.845%20329.667L424.714%20211M419.845%20329.667L413.429%20312.221M419.845%20329.667L459.277%20436.872M424.714%20211L413.429%20312.221M424.714%20211L515%20475.119L496.661%20559L459.277%20436.872M413.429%20312.221L388.036%20415.418M1%201H769V769H1V1Z%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.8%22%20stroke-width%3D%221.5%22%2F%3E%3C%2Fsvg%3E");
  }
}